[submodule "kohana/core"]
	path = kohana/core
	url = git://github.com/kohana/core.git
[submodule "kohana/userguide"]
	path = kohana/userguide
	url = git://github.com/kohana/userguide.git
[submodule "kohana/image"]
	path = kohana/image
	url = git://github.com/kohana/image.git
[submodule "kohana/oauth"]
	path = kohana/oauth
	url = git://github.com/kohana/oauth.git
[submodule "kohana/cache"]
	path = kohana/cache
	url = git://github.com/kohana/cache.git
[submodule "kohana/pagination"]
	path = kohana/pagination
	url = git://github.com/kohana/pagination.git
[submodule "kohana/database"]
	path = kohana/database
	url = git://github.com/kohana/database.git
[submodule "kohana/codebench"]
	path = kohana/codebench
	url = git://github.com/kohana/codebench.git
[submodule "kohana/auth"]
	path = kohana/auth
	url = git://github.com/kohana/auth.git
[submodule "kohana/KOstache"]
	path = kohana/KOstache
	url = git://github.com/zombor/KOstache.git
[submodule "kohana/sprig"]
	path = kohana/sprig
	url = git://github.com/sittercity/sprig.git
[submodule "kohana/email"]
	path = kohana/email
	url = git://github.com/shadowhand/email.git
[submodule "kohana/bonafide"]
	path = kohana/bonafide
	url = git://github.com/shadowhand/bonafide.git
[submodule "kohana/purifier"]
	path = kohana/purifier
	url = git://github.com/shadowhand/purifier.git
[submodule "kohana/uuid"]
	path = kohana/uuid
	url = git://github.com/shadowhand/uuid.git
[submodule "kohana/sprig-mptt"]
	path = kohana/sprig-mptt
	url = git://github.com/banks/sprig-mptt.git
[submodule "kohana/SprigGen"]
	path = kohana/SprigGen
	url = git://github.com/alextucker/SprigGen.git
